<div class="container" style="margin: 10px;">
    <div class="row no-gutter d-flex justify-content-center align-items-center">
        <div class="col-4">
            <div class="row no-gutter d-flex justify-content-center align-items-center">
                <img style="width: 100%;" src="../../../assets/images/registerlogo.png"  alt="Centered Image"/>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin: 10px;" *ngIf="ShowRegister">
    <div class="row no-gutter d-flex justify-content-center align-items-center">
        <div class="col-4">
            <div class="row no-gutter d-flex justify-content-center align-items-center">
                <img style="width: 75%;" src="../../../assets/images/linelogin.png"  alt="Centered Image" (click)="linelogin_Click()"/>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin: 10px;" *ngIf="!ShowRegister">
    <div class="row no-gutter d-flex justify-content-center align-items-center">
        <div class="col-10">
            <div class="row no-gutter">
                <mat-form-field class="example-full-width">
                    <mat-label>ชื่อ</mat-label>
                    <input matInput placeholder="ชื่อผู้ขับรถ">
                </mat-form-field>
            </div>
            <div class="row no-gutter">
                <mat-form-field class="example-full-width">
                    <mat-label>สกุล</mat-label>
                    <input matInput placeholder="นามสกุล">
                </mat-form-field>
            </div>
            <div class="row no-gutter">
                <mat-form-field class="example-full-width">
                    <mat-label>Tel</mat-label>
                    <input matInput type="tel" placeholder="xxx-xxx-xxxx">
                  </mat-form-field>                      
            </div>
          
            <div class="row no-gutter">
                    <button mat-raised-button color="primary" (click)="register_Click()">ตรวจสอบ</button>        
            </div>
        </div>
    </div>
</div>



<!-- <div class="container" *ngIf="ShowRegister">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-4 ">
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>ชื่อ</mat-label>
                        <input matInput placeholder="ชื่อผู้ขับรถ">
                    </mat-form-field>
                    </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>สกุล</mat-label>
                        <input matInput placeholder="นามสกุล">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Tel</mat-label>
                    <input matInput type="tel" placeholder="xxx-xxx-xxxx">
                  </mat-form-field>                      
            </div>
          
            <div class="row">
                <button mat-raised-button color="primary" (click)="register_Click()">ตรวจสอบ</button>        
            </div>
        
        </div>
    </div>    
</div> -->
  
  
