body {
    background-image: url("./../../../assets/images/bgground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
/* Flexbox layout to center the form */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  width: 300px;
  padding: 20px;
  margin-top: -30vh;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  // background-color: lightblue;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.button-container {
  text-align: center;
}

.line-icon {
  height: 3vh;
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth animation */
}

.line-icon:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
  filter: brightness(1.2); /* Brighten the image */
  cursor: pointer; /* Change cursor to pointer on hover */
}