<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body style=" z-index: 0; position:static;">

  <div class="container">
    <div class="frame">
      <form>
        <mat-form-field class="full-width">
          <mat-label>Login</mat-label>
          <input name="userLogin" [(ngModel)]="login.user" matInput placeholder="Enter Login" >
        </mat-form-field>
        <p>Login Value: {{ login.pwd }}</p> 
  
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input  name="userpassword" [(ngModel)]="login.pwd" matInput placeholder="Enter password" 
                  [type]="passwordVisible ? 'text' : 'password'" >
          <button mat-icon-button matSuffix type="button" (click)="passwordVisible = !passwordVisible">
            <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
  
        <div class="button-container" *ngIf="false">
          <button mat-raised-button color="primary" type="submit" (click)="onLoginClkick()">
            Login
          </button>
        </div>

        <div class="button-container" style="margin-top: 20px;">
          <img [src]="va.icon.line" (click)="onLoginLine(registermodal)" class="line-icon" />
        </div>
      </form>
    </div>
  </div>
  
</body>

<ng-template #registermodal let-modal>
  <!-- <app-registerpage></app-registerpage> -->
  <app-registerpage [modal]="modal" [linedata]="linedata"  (talk)="registerback($event)"></app-registerpage>
  <!-- <app-companymappage [modal]="modal" [editcompany]="activecompany" (talk)="companytalkback($event)"></app-companymappage> -->
</ng-template>