.example-card {
  max-width: 100%;
}

.example-header-image {
  background-size: cover;
}

.driverimg {
  max-width: 100%;    /* Prevents the image from exceeding container width */
  max-height: 100%;   /* Prevents the image from exceeding container height */
  object-fit: contain; /* Ensures the image maintains aspect ratio and fits within the container */
}