.icon-pass {
    font-size: 15px;
    height: 15px;
    width: 15px;
    margin-right: 1px;
    text-align:left;
    color: green;
}

.icon-nonpass {
    font-size: 15px;
    height: 15px;
    width: 15px;
    margin-right: 1px;
    text-align:left;
    color: red;
}

.ishadow{ 
    box-shadow: 0px 2px 5px -1px #00000066;
    background-color:white;
    border-radius:10px;
  }
