.container-spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: white;
  opacity: 50%;
  flex-direction: column;
  z-index: 9999;
  position:static;
}
.profileimg {
    border-radius: 50%;
    height: 5vh; 
    width: 5vh; 
}

