<!-- spinner -->
<div class="container-spiner" *ngIf="show.Spinner">
    <div class="row">
        Please Watting...
    </div>
    <mat-spinner></mat-spinner>
</div>

<div class="position-relative" style="height: 100%; width:100%; overflow: hidden;">

    <div class="container"
        style="display: flex; justify-content: space-between; align-items: center; width:100hw; margin: 5px;">
        <div class="col" style="flex: 0 0 auto;">

        </div>
        <div class="col" style="flex: 0 0 auto; text-align: right;">
            <div class="row">
                <div class="col" style="display: flex; align-items: center;"
                    [style.background-color]="show.viewtype==0?'#FFE5B4':'#FFFFFF'" mat-raised-button
                    matTooltip="แสดงภาพรวมพนักงานขับรถ" (click)="show.viewtype=0">
                    <mat-icon style="width: 100%; color: blue;">dashboard</mat-icon>
                </div>
                <div class="col" style="display: flex; align-items: center;"
                    [style.background-color]="show.viewtype==1?'#FFE5B4':'#FFFFFF'" mat-raised-button
                    matTooltip="แสดงตามกลุ่มสถานะ" (click)="show.viewtype=1">
                    <mat-icon style="width: 100%; color: blue;">dns</mat-icon>
                </div>
                <div class="col" style="display: flex; align-items: center;"
                    [style.background-color]="show.viewtype==2?'#FFE5B4':'#FFFFFF'" mat-raised-button
                    matTooltip="แสดงรายพนักงานขับรถ" (click)="show.viewtype=2">
                    <mat-icon style="width: 100%; color: blue;">list</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="width:100vw;">
        <!-- Left Column -->
        <div class="col-4" style="height: 70vh; width:40hw; overflow: scroll;">
            <div *ngFor="let item of maindata">
                <div class="row" (click)="ShowVehicleDetail(item)">
                    <div class="container"
                        style="display: flex; justify-content: space-between; align-items: start; width:100hw; margin: 5px;">
                        <div class="col ms-2" style="display:flexbox; text-align: start;">
                            <!-- setitem 1-->
                            <img class="profileimg" [src]="item.driverlineimg==''?va.icon.user:item.driverlineimg" />
                        </div>

                        <div class="col" style="display:flexbox; text-align: start;">
                            <!-- setitem 2-->
                            {{item.vname}}
                        </div>

                        <div class="col" style="display:flexbox; text-align: start;">
                            <!-- setitem 3-->
                            {{item.vlicent}}
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Righ Column -->
        <div class="col-8" style="height: 70vh; width:60hw;">
            <div *ngFor="let route of activedata.listroute">

                <div class="container"
                    style="display: flex; justify-content: space-between; align-items: start; width:100hw; margin: 5px;">
                    <div class="col ms-2" style="display:flexbox; text-align: start;">
                        {{route.routecode}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.routename}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.endtime}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.item}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.routename}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.routecode}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.starttime}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.endtime}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.wakeuptime}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.wakeupwarn}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.otwtime}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.shiftname}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.otname}}
                    </div>
                    <div class="col" style="display:flexbox; text-align: start;">
                        {{route.issendname}}
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>




<ng-template #compdetailmodal let-modal>
    <app-vehiclepage [modal]="modal" [activedata]="activedata" (talk)="companytalkback($event)"></app-vehiclepage>
</ng-template>