<div class="container">
  <div class="row mt-4">
    <div class="col-lg-8 col-sm-12">
      <!-- <div style="font-size: large; color: black; font-weight: 550" class="mt-sm-2 m-1">Driver is Gone</div> -->
      <div style="font-size: large; color: black; font-weight: 550" class="mt-sm-2 m-1">Select Your COMPANY</div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="input-group mb-3" style="display: flex; align-items: center;">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon">
            <button class="btn btn-outline-secondary" type="button" id="button-addon"
                style="display: flex;align-items: center;border-color:#ced4da;">
                <mat-icon>search</mat-icon>
            </button>
            <span class="m-2"><mat-icon>list</mat-icon></span>
        </div>
    </div>

    <div class="row no-gutters mx-1" style="background-color: white; border-radius: 10px; display: flex; align-items: center;">

      <!-- Back Button Container -->
      <div class="col-1 d-flex justify-content-start">
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
    
      <!-- Company Names Container (Scrollable) -->
      <div class="col-10 d-flex flex-wrap align-items-center justify-content-center" style="overflow-x: auto;">
        <div class="col-lg-2 col-sm-4 m-2" *ngFor="let comp of dashboardData.slice(0,4)">
          <span class="d-flex flex-wrap align-items-center justify-content-center">
            {{ comp.companyname }}
          </span>
        </div>
      </div>
    
      <!-- Next Button Container -->
      <div class="col-1 d-flex justify-content-end">
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    
    </div>
    
    

  </div>


<div class="row no-gutters m-4" 
  style="display: flex; align-items: center; background-color:transparent; border-radius: 10px;"
  *ngFor="let comp of dashboardData">
  <div *ngFor="let driver of comp.listdriver">
    <div class="row" style="text-align: left">{{ driver.drivername }}</div>
  </div>
</div>




</div>