.avatar-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.locationname{
    width: 100%; 
    // padding-left :10px; 
    font-size:xx-small;
    max-width: 220px; 
    text-align: left;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

.profileimg {
  width: auto;
  height: 35px;
  border-radius: 50%;
  // border: 4px solid lightslategrey;
}

.zeroxy{ margin:0; padding:0;}

.H1030{ background:linear-gradient(to right,#FF0000,#008000);}
.H1031{ background:linear-gradient(to right,#FF0000,#DAA520 );}
.H1033{ background:linear-gradient(to right,#FF0000,#FF0000);}
.H1041{ background:linear-gradient(to right,#FF0000,#800080);}
.H1080{ background:linear-gradient(to right,#FF0000,#808080);}

.H2030{ background:linear-gradient(to right,#DAA520,#008000);}
.H2031{ background:linear-gradient(to right,#DAA520,#DAA520 );}
.H2033{ background:linear-gradient(to right,#DAA520,#FF0000);}
.H2041{ background:linear-gradient(to right,#DAA520,#800080);}
.H2080{ background:linear-gradient(to right,#DAA520,#808080);}

.H3030{ background:linear-gradient(to right,#FF4500,#008000);}
.H3031{ background:linear-gradient(to right,#FF4500,#DAA520 );}
.H3033{ background:linear-gradient(to right,#FF4500,#FF0000);}
.H3041{ background:linear-gradient(to right,#FF4500,#800080);}
.H3080{ background:linear-gradient(to right,#FF4500,#808080);}

.H4030{ background:linear-gradient(to right,#8FCE00,#008000);}
.H4031{ background:linear-gradient(to right,#8FCE00,#DAA520 );}
.H4033{ background:linear-gradient(to right,#8FCE00,#FF0000);}
.H4041{ background:linear-gradient(to right,#8FCE00,#800080);}
.H4080{ background:linear-gradient(to right,#8FCE00,#808080);}

.H5030{ background:linear-gradient(to right,#38761D,#008000);}
.H5031{ background:linear-gradient(to right,#38761D,#DAA520 );}
.H5033{ background:linear-gradient(to right,#38761D,#FF0000);}
.H5041{ background:linear-gradient(to right,#38761D,#800080);}
.H5080{ background:linear-gradient(to right,#38761D,#808080);}

.show-total {
    margin: 5px;
    width: 100%;
    text-align:center;
    font-size: xx-large;
    color: navy;
}
.show-number {
    margin: 2px;
    width: 100%;
    text-align:center;
    color: white;
}
.icon-standard {
    margin: 3px;
    font-size: 20px;
    height: 20px;
    width: 100%;
    text-align:center;
    color: white;
}

.icon-pass {
  // width: 30px;
  // height: 30px;
  padding: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  background-color: #5fbfad;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0;
}

.ishadow{ 
  box-shadow: 0px 2px 5px -1px #00000066;
  background-color:white;
  border-radius:10px;
}

.icon-nonpass {
  // width: 30px;
  // height: 30px;
  padding: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  background-color: #ff4d4d;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0;
}

.icon-normal {
    // height: 15px;
    // width: 15px;
    padding: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #808080;
  background-color: #999999;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0;
}

.icircle {
    width: 26px; height: 26px;
    line-height: 26px; 
    border-radius: 50%; 
    font-size: small;
  }

  .icon-container {
    // width: 30px;
    // height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0;
    padding: 0;
  }
  
  .icon-container:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
  }
  
  .icon-label {
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  
  .card-details {
    padding: 0px 16px 6px 16px;
    margin-top: 0px;
    font-size: 12px;
    color: #333;
  }
  
  .card-details-header {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  
  .card-details-header mat-icon {
    font-size: 20px;
    margin-right: 8px;
  }
  
  .card-details-header span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .detail-item {
    display: flex;
    justify-content: space-between; /* Aligns items to each end */
    align-items: center; /* Centers items vertically */
  }
  
  .detail-label {
    font-weight: 500;
    margin-right: 8px;
  }
  
  .detail-value {
    color: #666;
    margin-left: auto;
    margin: 2px 8px;
  }
  
  .viewall{ margin-left:10px; font-size: 24px; color:#606060;}
  .viewcolumn{ margin-left:10px; font-size: 24px; color:#a1a1a1;}