.img-background {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.3;
}

.div-foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 1;
  height: 100%;
  width: 100%;
  background-color: white;
}
  
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .profileimg {
    border-radius: 50%;
    height: 10vh; /* กำหนดความสูงของรูปภาพไม่เกิน 10% ของความสูงหน้าจอ */
    width: auto; /* ปรับขนาดความกว้างอัตโนมัติเพื่อรักษาสัดส่วน */
  }
  .divstatuscolor {
    border-radius: 50%;
    height: 2vh; /* กำหนดความสูงของรูปภาพไม่เกิน 10% ของความสูงหน้าจอ */
    width: 2vh; /* ปรับขนาดความกว้างอัตโนมัติเพื่อรักษาสัดส่วน */
    box-shadow: 2px 2px 5px 1px;
  }
  .companyimg {
    // border-radius: 50%;
    margin: 5px;
    max-width: 5vh; /* กำหนดความสูงของรูปภาพไม่เกิน 10% ของความสูงหน้าจอ */
    max-height: 5vh; /* ปรับขนาดความกว้างอัตโนมัติเพื่อรักษาสัดส่วน */
  }

  .driverimg {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #cee1f0;
  }

  .statuscolor{
    background-color: #c9c9c9;
  }

  .wordwrap {
    word-wrap: break-word; 
    white-space: normal; 
    overflow-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  .tooltipnewline {
    white-space:pre-line;
  }

  // .resizemuti {
  //   background-size: contain;
  //   cursor: col-resize;
  //   resize: horizontal;
  //   width: 100%;
  //   height: 90%;
  //   overflow: scroll;
  // }

  .rectangle {
    position: relative;
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: #fd4140;
    border: solid 1px #121621;
    color: #121621;
    margin: auto;
    box-sizing: border-box; // required for the enableGhostResize option to work
  }

  .resize-handle-left{
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 5px;
  }

  .resize-handle-left {
    left: 0;
  }