<mat-sidenav-container >

    <mat-sidenav mode="over" [(opened)]="menuopen" style="background-color: #1e88e5;">
      <mat-toolbar style="background-color: #1976d2;" >
        <img class="profileimg" [src]="(UserProfile&&UserProfile.userimage!='')?UserProfile.userimage:va.icon.user"/>        
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <div class="empname" style="margin-left: 10px; font-size: medium ;">{{UserProfile?UserProfile.empname:''}} </div>
            <div style="margin-left: 10px; font-size: small;"> {{UserProfile?UserProfile.rolename:''}} </div>
        </div>   
<!--         
        <span style="width: 80%; padding: 10px; color: white;"> {{UserProfile?UserProfile.empname:''}}</span> -->
        <mat-icon (click)="menuopen=false" style="cursor: pointer; color: white; display: flex; justify-content: flex-end;">navigate_before</mat-icon>
      </mat-toolbar>

      <div class="container">
        <div *ngIf="false" (click)="openPage('login')"  class="clickable-div" >
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">login </span>
        </div>
        <div *ngIf="false" (click)="openPage('register')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">register </span>
        </div>
        <div *ngIf="false" (click)="openPage('driverdashboard')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> driverdashboard </span>
        </div>
        <div *ngIf="true" (click)="openPage('maindashboard')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> Dashboard </span>
        </div>
        <div *ngIf="false" (click)="openPage('wakeupdashboard')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> WakeUp dashboard </span>
        </div>
        <div *ngIf="true" (click)="openPage('driver')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">driver </span>
        </div>
        <div *ngIf="false" (click)="openPage('driverdata')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">driverdata </span>
        </div>

        <div *ngIf="true" (click)="openPage('vehicle')" class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">vehicle </span>
        </div>
        <div *ngIf="false" (click)="openPage('vehicledata')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> vehicledata </span>
        </div>
        <div *ngIf="true" (click)="openPage('company')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">company </span>
        </div>
        <div *ngIf="false" (click)="openPage('companydata')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> companydata </span>
        </div>
        <div *ngIf="false" (click)="openPage('route')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">route </span>
        </div>
        <div *ngIf="false" (click)="openPage('routedata')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> routedata </span>
        </div>
        <!-- <div *ngIf="true" (click)="openPage('driverregister')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> driverregister </span>
       </div> -->

       <!-- LINE OA / drivergbus.gpsasiagps.com -->
        <div *ngIf="false" (click)="openPage('drivercheckin')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> drivercheckin </span>
        </div>
        <div *ngIf="false" (click)="openPage('driverwork')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> driverwork </span>
        </div>
        <div *ngIf="false" (click)="openPage('driverworkreport')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> driverworkreport </span>
        </div>


        <div *ngIf="false" (click)="openPage('confirmjob')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> daily job </span>
        </div>
        <div *ngIf="false" (click)="openPage('lmap')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">lmap </span>
        </div>
        <div *ngIf="false" (click)="openPage('planactive')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> planactive </span>
        </div>
        <div *ngIf="false" (click)="openPage('planactivedata')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> planactivedata </span>
        </div>
        <div *ngIf="false" (click)="openPage('planmaster')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> Master plan </span>
        </div>
        <div *ngIf="false" (click)="openPage('planmasterdata')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> planmasterdata </span>
        </div>
        <div *ngIf="false" (click)="openPage('plan')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item">plan </span>
        </div>
        <div *ngIf="false" (click)="openPage('plandata')"  class="clickable-div">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">menu</mat-icon>
            <span class="menu-item"> plandata </span>
        </div>

        <hr style="border: none; border-top: 1px dashed white;margin:0;"/>

        <div class="clickable-div" (click)="openPage('login')">
            <mat-icon style="margin-right: 20px; color: #b3e5fc;">input</mat-icon>
            <span class="menu-item"> LOGOUT </span>
        </div>
    </div>
    </mat-sidenav>

    <mat-sidenav-content  >
      <mat-toolbar class="navbar" style="background-color:#1976d2;" *ngIf="showmenu">
        <div class="d-flex flex-wrap align-items-center">
          <mat-icon class="navmenu" (click)="menuopen=true" style="color: #b3e5fc;">menu</mat-icon>
          <img src="../assets/images/sym_g.png" style="height: 35px;">
          <span style="color: #8fbeed; font-size: medium;">Driver</span>
          
        </div>
  
        <div class="d-flex flex-wrap align-items-center">
            
            <span class="m-2" *ngIf="resetcounter!=60" style="color: #8fbeed; font-size: medium;">{{resetcounter}}</span>
            <mat-icon *ngIf="timeLeft<=0" class="navmenu" style="color: #b3e5fc;">refresh</mat-icon>
            <span class="m-2" style="color: #8fbeed; font-size: medium;">{{colck | date: 'dd-MM-yyyy HH:mm:ss'}}</span>

          <mat-icon class="navmenu" style="color: #b3e5fc;">info</mat-icon>
          <span class="navtxt">About</span>
  
          <mat-icon class="navmenu" style="color: #b3e5fc;">description</mat-icon>
          <span class="navtxt">Manual</span>

          <img class="profileimg ml-5" [src]="(UserProfile&&UserProfile.userimage!='')?UserProfile.userimage:va.icon.user"/>        


        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>