  mat-sidenav-container {
      height: 100%;
  }

  mat-sidenav-content {
      height: 100%;
  }

  .clickable-div {
      display: flex;
      align-items: center;
      line-height: 3;
      cursor: pointer;
      padding: 10px;
      transition: background-color 0.3s;
  }

  .clickable-div:hover {
      background-color: #1565c0;
      cursor: pointer;
  }

  .menu-item {
      text-transform: uppercase;
      font-weight: 500;
      color: #ffffff;
  }

  .navmenu {
      cursor: pointer;
  }

  .navtxt {
      color: white;
      font-size: medium;
      margin-left: 5px;
  }

  .empname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Adjust width based on your layout */
  }

