.lineloginbtn {
    border: none;
    background: none;
    cursor: pointer;
}

.lineloginimg {
    height: 50px;
    width: auto; /* Adjust size as necessary */
}

.logoimg {
    height: auto;
    width: 50%; /* Adjust size as necessary */
}
