

<div class="position-relative" style="height: 100%; width:100%; overflow:hidden">
    <!-- spinner -->
    <div class="container-spiner" *ngIf="show.Spinner">
        <div class="row">
            Please Watting...
        </div>
        <mat-spinner></mat-spinner>
    </div>
    
    <!-- tab header -->
    <div style="margin: 0,5px;">
        <div class="row align-items-center" style="background-color: lightskyblue; padding:5px ;" >
            <div class="col-auto text-align start" >
                <div class="row" style="text-align: right; margin-right: 10px;">
                    <div class="col" style="display: flex; align-items: center;"
                        matTooltip="แสดงภาพรวมพนักงานขับรถ" (click)="showroutetab(0)">
                        <mat-icon style="width: 100%;" [style.color]="show.viewtype==0?'blue':'lightgray'">dashboard</mat-icon>
                    </div>
                    <div class="col" style="display: flex; align-items: center;"
                        matTooltip="แสดงตามกลุ่มสถานะ" (click)="showroutetab(1)">
                        <mat-icon style="width: 100%; " [style.color]="show.viewtype==1?'blue':'lightgray'">dns</mat-icon>
                    </div>
                    <div class="col" style="display: flex; align-items: center;"
                        matTooltip="แสดงรายพนักงานขับรถ" (click)="showroutetab(2)">
                        <mat-icon style="width: 100%; " 
                        [style.color]="show.viewtype==2?'blue':'lightgray'"
                        >list</mat-icon>
                    </div>
                </div>
            </div>

            <div class="col text-center" style="display: flex; align-items: center; justify-content: center;">
                <h1 *ngIf="show.viewtype==0"> ข้อมูลแผนการเดินรถรายวัน </h1> 
                <h1 *ngIf="show.viewtype==1"> ข้อมูลแผนการเดินรถรายสัปดาห์  </h1> 
                <h1 *ngIf="show.viewtype==2"> ข้อมูลเส้นทางการเดินรถ </h1> 
            </div>

            <div class="col-auto text-align end" style="display: flex; align-items: center; justify-content: center;gap: 20px; ">
                <div class="row" style="text-align: right; margin-right: 10px; color: blue;">                       
                    <div class="col" style="display: flex; align-items: center;"*ngIf="show.viewtype==2" (click)="addnewroute(routeconfigmodal)"
                        matTooltip="เพิ่มแผนให้รถใหม่">
                        <mat-icon style="width: 100%;">add_box</mat-icon>
                    </div>
                    <div class="col" style="display: flex; align-items: center;" *ngIf="false"
                        matTooltip="พิมพ์ข้อมูลเส้นทาง/แผนงาน" (click)="exportprint()">
                        <mat-icon style="width: 100%;">print</mat-icon>
                    </div>
                    <div class="col" style="display: flex; align-items: center;"
                        matTooltip="ดาวน์โหลดข้อมูลเส้นทาง/แผนงาน" (click)="exportexcel()">
                        <mat-icon style="width: 100%; ">file_download</mat-icon>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div *ngIf="show.viewtype==0">
        <!-- header -->
        <div class="row" style=" margin: 0; padding: 0; gap: 0;" [style.background-color]="dayplan.colorday" >
            <div class="col-2" style="text-align: center;">
                ข้อมูลแผนการเดินรถรายวัน
            </div>
            <div class="col-1" style="justify-content: center; text-align: start;" (click) = "movedayplan(-1)">
                <!-- *ngIf="dayplan.plandate>dayplan.today" -->
                <mat-icon>navigate_before</mat-icon>
            </div>
            <div class="col-7" style="justify-content: center; text-align: center;">
                {{ dayplan.plandate | date: 'EEEE' }}  ที่ {{dayplan.plandate  | date: 'dd MMMM yyyy'}} 
            </div>
            <div class="col-1" style="justify-content: center; text-align: end;" (click) = "movedayplan(1)">
                <mat-icon>navigate_next</mat-icon>
            </div>    
            <div class="col-1" style="justify-content: center; text-align: end; cursor: pointer; " 
                *ngIf="!dayplan.noplan"  (click) = "setdayplanfromweekplan(undefined)">
                <mat-icon style="color: blue;"  >content_copy</mat-icon>
            </div>             
            <div class="col-1" style="justify-content: center; text-align: end; cursor: pointer; " 
                *ngIf="dayplan.noplan" (click) = "deldayplan(undefined)">
                <mat-icon style="color: red;" >delete</mat-icon>
            </div>                      
        </div>

        <div class="row" style="height: 80vh; width:100vw; overflow-x: scroll;">
            <div class="col-12" style="height: 70vh; width:40hw; overflow-y: scroll; overflow-x: hidden;">
        <!-- ====== Data ====== -->
        <hr style="height:2px; margin: 2px;">
        <div class="row" *ngFor="let routeday of dayplan.activeroute"  style=" margin: 0; padding: 0; gap: 0;">
            <div class="container"  style="display: flex; align-items: center; justify-content: start;">
                <!-- Routename Name -->
                <div class="col-2" style="display: flex; justify-content: center; align-items: center;flex-direction: column; padding: 10px;  cursor: pointer;"
                [style.background-color]="routeday.listvplan.length==0?'#f98989':'#c9f989'">
                    <div style="text-align: center;" >
                        {{ routeday.route.routename }}
                    </div>
                    <div style="display: flex; justify-content: end; align-items:center;flex-direction: column;width: 100%;height: 100%;  cursor: pointer;"
                    (click)="addvehicledayplan(routeday.route,selectvehiclemodal,plandetailmodal)">
                        <mat-icon style="width: auto; color: green;">
                            add_circle
                        </mat-icon>
                    </div>
                </div>

                <!-- Vehicle & Time -->
                <div class="col-9" style="text-align: center;" >

                    <!-- ====== Vehicle ====== -->
                    <div *ngFor="let vehicle of routeday.listvplan" class="row" style=" margin: 0; padding: 0; gap: 0; margin-right: 20px;  cursor: pointer;">
                            <div class="container" style="display: flex; align-items: center;">
                                <!-- Vehicle Name -->
                                <div class="col-1" style="text-align: center; color: royalblue;background-color: lightcyan;" >
                                    {{ vehicle.vname }}
                                </div>
                        
                                <!-- Vehicle Data -->
                                <div class="col-11" style="display: flex;">
                                    <div class="col"  *ngFor="let item of vehicle.listdata" (click)="opendayplan(item,vehicle,routeday.route.id,plandetailmodal)" 
                                        style="text-align: center; margin: 0; padding: 0; gap: 0;">
                                        <div class="col" 
                                            matTooltip="{{ item.starttime }}" matTooltipPosition="above">
                                            <!-- Check if the time includes ":00" -->
                                            <div *ngIf="item.starttime.includes(':00'); else noTimeDisplay" 
                                                
                                                 [style.background-color]="item.plancode=='' ? '#FFFFFF' : item.routeid==routeday.route.id ? '#FFE5B4' : '#CCCCCC'"
                                                 [style.color]="item.plancode=='' ? '#FFFFFF' : item.routeid==routeday.route.id ? '#FFE5B4' : '#CCCCCC'">
                                                {{ item.starttime.replace(':00', '') }}
                                            </div>
                        
                                            <!-- No Time Display -->
                                            <ng-template #noTimeDisplay>
                                                <div style="display: block;" 
                                                [style.background-color]="item.plancode=='' ? '#FFFFFF' : item.routeid==routeday.route.id ? '#FFE5B4' : '#CCCCCC'">
                                                    &nbsp;
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="height:2px; margin: 2px;">
                    </div>

                    <!-- ====== Time ====== -->
                    <div class="row" style=" margin: 0; padding: 0; gap: 0; margin-right: 20px; width: 100%; height: 20px;"
                        *ngIf="routeday.listvplan.length==0"></div>
                    <div class="row" style=" margin: 0; padding: 0; gap: 0; margin-right: 20px;">
                            <div class="container" style="display: flex; align-items: center;">
                                <!-- Vehicle Name -->
                                <div class="col-1" style="text-align: center; background-color:lightgrey" >
                                    Time :
                                </div>
                                <!-- Vehicle Data -->
                                <div class="col-11" style="display: flex;">
                                    <div *ngFor="let item of dayplan.listtime" class="col" style="text-align: center; margin: 0; padding: 0; gap: 0;">
                                        <div class="col" 
                                            matTooltip="{{ item.starttime }}" matTooltipPosition="above">
                                            <!-- Check if the time includes ":00" -->
                                            <div *ngIf="item.starttime.includes(':00'); else noTimeDisplay"  style=" background-color:lightgrey">
                                                {{ item.starttime.replace(':00', '') }}
                                            </div>                            
                                            <!-- No Time Display -->
                                            <ng-template #noTimeDisplay>
                                                <div style="display: block; background-color:lightgrey">
                                                    &nbsp;
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="height:2px; margin: 2px;">
                    </div>
                </div>
                <div class="col-1" style="display: flex;  justify-content: center; align-items: center; height: 100%; cursor: pointer;" *ngIf="dayplan.noplan" >
                    <mat-icon style="color: blue;" *ngIf="routeday.listvplan.length==0" (click) = "setdayplanfromweekplan(routeday.route)">assignment</mat-icon>
                    <mat-icon style="color: red;" *ngIf="routeday.listvplan.length!=0" (click) = "deldayplan(routeday.route)">delete</mat-icon>
                    <!-- <mat-checkbox  [(ngModel)]="routeday.isselect" *ngIf="routeday.listvplan.length==0" ></mat-checkbox> -->
                </div>
            </div>
            <hr style="height:2px; margin: 2px;">
        </div>

            </div>
        </div>
    </div>

    <div *ngIf="show.viewtype==1">
        <div class="row" style="height: 80vh; width:100vw;">
            <!-- Left Column -->
            <div class="col-2" style="height: 70vh; width:40hw; overflow-y: scroll; overflow-x: hidden;">
                <mat-list role="list">
                    <mat-list-item *ngFor="let item of maindata" role="listitem"
                    [style.background-color]="(activedata.id==item.id)?'#FFE5B4':'#FFFFFF'"
                    (dblclick)="Showroutedropoint(item,routedetailmodal)" (click)="ShowVehicleDetail(item)">
                      {{ item.routename }}
                    </mat-list-item>
                </mat-list>
            </div>

            <!-- Righ Column -->
            <div class="col-10" style="height: 70vh; width:60hw;overflow-y: scroll">
                <div class="row" style="display: flex;  justify-content: space-between; width: 100%; height:4vh ; 
                    background-color: lightblue; margin: 5px 30px;">
                    <div class="col-10" style="display: flex;  justify-content: start;align-items: center; height: 100%;">
                        <span> ข้อมูลแผนการเดินรถรายสัปดาห์ {{activedata.routename}} </span>   
                    </div>
                    <div class="col-2" style="display: flex;  justify-content: center ;align-items: center; height: 100%; gap:10px" >
                    </div>             
    
                </div>
                <div *ngFor="let wplan of weekplan" style="margin:0;padding:0;">
                    <div class="container" style="display: flex; margin-left: 20px; ">
                        <!-- ====== Day name ====== -->
                        <div class="col-1" style="display: flex; justify-content: center; align-items: center;flex-direction: column; padding: 10px;  cursor: pointer;"
                            [style.background-color]="wplan.colorday==''?'#FFFFFF':wplan.colorday" >
                          <div style="text-align: center;" >
                            {{ wplan.textdate }}
                          </div>
                          <div style="display: flex; justify-content: end; align-items:center;flex-direction: column;width: 100%;height: 100%;  cursor: pointer;">
                            <mat-icon style="width: auto; color: green;" (click)="addvehicleweekplan(wplan,selectvehiclemodal,plandetailmodal)">
                                add_circle
                            </mat-icon>
                          </div>
                        </div>
                        <div class="col-11" style="overflow-x: scroll;">
                            <!-- ====== Vehicle ====== -->
                            <div *ngFor="let vehicle of wplan.listvplan" class="row" style=" margin: 0; padding: 0; gap: 0; margin-right: 20px;  cursor: pointer;">
                                <div class="container" style="display: flex; align-items: center;">
                                    <!-- Vehicle Name -->
                                    <div class="col-1" style="text-align: center; margin-right: 10px;"
                                        [style.background-color]="wplan.colorday==''?'#FFFFFF':wplan.colorday">
                                        {{ vehicle.vname }}
                                    </div>
                            
                                    <!-- Vehicle Data -->
                                    <div class="col-11" style="display: flex;">
                                        <div class="col"  *ngFor="let item of vehicle.listdata" (click)="OpenWeekplan(item,wplan,vehicle,plandetailmodal)" 
                                            style="text-align: center; margin: 0; padding: 0; gap: 0;">
                                            <div class="col" 
                                                matTooltip="{{ item.starttime }}" matTooltipPosition="above">
                                                <!-- Check if the time includes ":00" -->
                                                <div *ngIf="item.starttime.includes(':00'); else noTimeDisplay" 
                                                     [style.background-color]="item.plancode=='' ? '#FFFFFF' : item.routeid==activedata.id ? '#FFE5B4' : '#CCCCCC'"
                                                     [style.color]="item.plancode=='' ? '#FFFFFF' : item.routeid==activedata.id ? '#FFE5B4' : '#CCCCCC'">
                                                    {{ item.starttime.replace(':00', '') }}
                                                </div>
                            
                                                <!-- No Time Display -->
                                                <ng-template #noTimeDisplay>
                                                    <div style="display: block;" [style.background-color]="item.plancode=='' ? '#FFFFFF' : item.routeid==activedata.id ? '#FFE5B4' : '#CCCCCC'">
                                                        &nbsp;
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="height:2px; margin: 2px;">
                            </div>

                            <!-- ====== Time ====== -->
                            <div class="row" style=" margin: 0; padding: 0; gap: 0; margin-right: 20px; width: 100%; height: 20px;"
                                *ngIf="wplan.listvplan.length==0"></div>
                            <div class="row" style=" margin: 0; padding: 0; gap: 0; margin-right: 20px;">
                                <div class="container" style="display: flex; align-items: center;">
                                    <!-- Vehicle Name -->
                                    <div class="col-1" style="text-align: center; margin-right: 10px;"
                                        [style.background-color]="wplan.colorday==''?'#FFFFFF':wplan.colorday">
                                        Time :
                                    </div>
                                    <!-- Vehicle Data -->
                                    <div class="col-11" style="display: flex;">
                                        <div *ngFor="let item of wplan.listdata" class="col" style="text-align: center; margin: 0; padding: 0; gap: 0;">
                                            <div class="col" 
                                                matTooltip="{{ item.starttime }}" matTooltipPosition="above">
                                                <!-- Check if the time includes ":00" -->
                                                <div *ngIf="item.starttime.includes(':00'); else noTimeDisplay"  style=" background-color:lightgrey">
                                                    {{ item.starttime.replace(':00', '') }}
                                                </div>                            
                                                <!-- No Time Display -->
                                                <ng-template #noTimeDisplay>
                                                    <div style="display: block; background-color:lightgrey">
                                                        &nbsp;
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="height:2px; margin: 2px;">
                            </div>


                        </div>
                     </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="show.viewtype==2" >
        
        <div class="row" style="height: 60vh; width:100vw;">
            <!-- Left Column -->
             
            <div class="col-6" style="height: 60vh; width:40hw; overflow: hidden;">
                <div class="table-container">
                    <div class="row table-header">
                      <div class="col-3">routename</div>
                      <div class="col-1">Wakeup warning</div>
                      <div class="col-1">Wakeup</div>
                      <div class="col-1">Start engine</div>
                      <div class="col-1">On Route</div>
                      <div class="col-1">Finisn</div>
                    </div>
                </div>
                <div class="table-data"  >
                    <div *ngFor="let plan of maindata"  class="row table-row"
                        [class.selected]="plan.id == activedata.id" 
                        (click)="Showroute(plan)" (dblclick)="Showrouteconfig(plan,routeconfigmodal)">
                        <div class="col-3">{{ plan.routename}}</div>
                        <div class="col-1">{{ plan.wakeupwarntime|date:"HH:mm"}}</div>
                        <div class="col-1">{{ plan.wakeuptime|date:"HH:mm"}}</div>
                        <div class="col-1">{{ plan.startwarntime|date:"HH:mm"}}</div>
                        <div class="col-1">{{ plan.starttime|date:"HH:mm"}}</div>
                    </div>
                </div>
        
                <!-- <mat-list role="list">
                    <mat-list-item *ngFor="let item of maindata" role="listitem"
                    [style.background-color]="(activedata.id==item.id)?'#FFE5B4':'#FFFFFF'"
                    (dblclick)="Showrouteconfig(item,routeconfigmodal)" (click)="Showroute(item)">
                      {{ item.routename }}
                    </mat-list-item>
                </mat-list> -->
            </div>

            <!-- Righ Column -->
            <div  class="col-6" id="map-container" style="height: 60vh; width:50vw; background-color: lightyellow;">

                <div class="data-box-container" >
                        <div class="data-box m-2" *ngFor="let box of activedata.dpinroute">
                            <div (click)="ShowCurrentPosition(box.lat,box.lng)">
                                <h3>{{box.pointname}}</h3>
                            </div>
                        </div>
                </div>

                <div class="row no-guster" id="droppointmap" style="height: 100%; width:100%;"></div>
            </div>
        </div>

        <!-- Vehicle in Route -->
        <hr>
        <div class="row" style="max-height: 20vh; width:100vw;" *ngIf="false">
            <!-- header -->
            <div class="px-3 py-0" style="display: flex; justify-content: space-between; align-items: center;  width:100%;  margin: 0; background-color: lightyellow;">
                <div class="col" style="display: flex; align-items: center; justify-content: start;">
                <mat-icon> directions_bus </mat-icon>
                <span class="m-2"> ข้อมูลรถประจำเส้นทาง จำนวน {{activedata.vinroute.length}} คัน </span>
                </div>
                <div class="col" style="flex: 0 0 auto; text-align: right; margin: 20px;">
                <div class="row" (click)="addvehicleinroute(vehicleroutemodal)">
                    <div class="col" style="display: flex; align-items: center; margin-right: 20px;">
                    <mat-icon style="width: auto; color: blue;">add_box</mat-icon>
                    </div>
                </div>
                </div>
            </div>
            <div style="height: 2px; width: 100%; background-color: lightgray;"></div>
            <!-- body -->
            <div style="height: 100%; width:100%; overflow: scroll;">
                <div *ngFor="let vehicle of activedata.vinroute">
                <div class="row" >
                    <div class="col-6">
                        <div style="display: flex; justify-content: space-between; align-items: start;  width:100%;  margin: 0;">
                            <div class="icon-inrow" matTooltip="ชื่อรถ">
                              <mat-icon> directions_bus </mat-icon>
                              <span>{{vehicle.vname}}</span>
                            </div>
                  
                            <div class="icon-inrow" matTooltip="จำนวนจุดรับ-ส่งพนักงาน">
                              <mat-icon>credit_card</mat-icon>
                              <span>{{vehicle.vlicent}}</span> 
                            </div>
                  
                            <div class="icon-inrow" matTooltip="ระยะทาง (กม.)">
                              <mat-icon> timeline </mat-icon>
                              <span>{{vehicle.issendname}}</span>  
                              <span>{{vehicle.shiftname}}</span>  
                              <!-- <span *ngIf="vehicle.item!=1">({{vehicle.item}})</span>   -->
                            </div>
                  
                            <div class="icon-inrow" matTooltip="ระยะเวลา (นาที)">
                              <mat-icon>update</mat-icon>
                              <span>{{vehicle .period}} นาที</span>  
                              <span>{{ vehicle.distance}} กม.</span>  
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div style="display: flex; justify-content: space-between; align-items: start;  width:100%;  margin: 0;">

                            <div class="icon-inrow" matTooltip="เริ่มแจ้งพร้อมเริ่มงาน">
                              <mat-icon>check_circle</mat-icon>
                              <span>{{ vehicle.wakeupwarn}}</span>  
                            </div>
                  
                            <div class="icon-inrow" matTooltip="เตือนเมื่อไม่แจ้งพร้อมเริ่มงาน">
                              <mat-icon>cancel</mat-icon>
                              <span>{{ vehicle.wakeuptime}}</span>  
                            </div>
                  
                            <div class="icon-inrow" matTooltip="เตือนเมื่อไม่สตาร์ทรถ">
                              <mat-icon>power_settings_new</mat-icon>
                              <span>{{ vehicle.otwtime}}</span>  
                            </div>
                  
                            <div class="icon-inrow" matTooltip="เวลาที่ควรถึงจุดแรก">
                              <mat-icon>departure_board</mat-icon>
                              <span>{{ vehicle.starttime}}</span>  
                            </div>
                  
                            <div class="icon-inrow" matTooltip="เวลาที่ควรถึงปลายทาง">
                              <mat-icon>flag</mat-icon>
                              <span>{{ vehicle.endtime}}</span>  
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<ng-template #routedetailmodal let-modal>
    <app-routepage [modal]="modal" [activedata]="activedata" [company]="activecompany"  (talk)="routedetailtalkback($event)"></app-routepage>
</ng-template>

<ng-template #routeconfigmodal let-modal>
    <app-routeconfigpage [modal]="modal" [activedata]="activedata" [company]="activecompany"  (talk)="routeconfigtalkback($event)"></app-routeconfigpage>
</ng-template>


<ng-template #vehicleroutemodal let-modal>
    <app-routevehiclepage [modal]="modal" [company]="activecompany" [activeroute]="activedata" [company]="activecompany"></app-routevehiclepage>
</ng-template>

<ng-template #selectvehiclemodal let-modal>
    <app-selectvehicleplanpage [modal]="modal" [workslot]="activecalendar" [route]="activedata"
    (talk)="selectvehicletalkback($event)"></app-selectvehicleplanpage>
</ng-template>


<ng-template #plandetailmodal let-modal>
    <app-plandatapage  [modal]="modal" [vehicle]="selectedvehicle" [company]="activecompany"  
    [planslot]="activeslot" [routedata]="activedata" [editplan]="activeplan" (talk)="routeplantalkback($event)"></app-plandatapage>
</ng-template>