<div class="header">
  <!-- Header data & close button -->
  <div class="row px-3 py-0" [style.background-color]="editplan?'#effc8d':'#8dfcf6'"
       style="display: flex; justify-content: space-between; align-items: center; width:100%; margin: 0;">
    
    <div class="col-1" style="display: flex; justify-content: center; align-items: center; padding:5px ;" >
      <img class="company-logo" [src]="company.complogo==''? va.icon.nologo : company.complogo">
    </div>

    <div class="col-7" style="display: flex; justify-content: start; align-items: center; padding:5px ;">
      <div >
        <div class="row" *ngIf="planslot.plantype > 1">
          <span *ngIf="!editplan" > 
            สร้างแผนการทำงานประจำวัน
            {{planslot.dayname}} ({{planslot.starttime}} - {{planslot.endtime}})
          </span>
          <span *ngIf="editplan"> 
            แก้ไขแผนการทำงานประจำวัน
            {{planslot.dayname}} ( {{editplan.wakeupwarntime | date:'HH:mm'}}-  {{editplan.endtime | date:'HH:mm'}})
          </span>
        </div>

        <div class="row">
          <span> รถ {{vehicle.vlicent}} ({{vehicle.vname}}) </span>
        </div>
      
      </div>
      
    </div>

    <div class="col-4" style="display: flex;  justify-content:end; align-items:end ;">
      <div class="row">
        <div class="icon-inrow">
          <div class="icon-inrow" (click)="deleteplan()" *ngIf="editplan" style="cursor:pointer;">
            <span>ลบ</span>
            <mat-icon style="width: auto; color: red;">cancel</mat-icon>
          </div>
          <div class="icon-inrow" (click)="saveplan()" *ngIf="onperiod" style="cursor:pointer;">
            <span>บันทึก</span>
            <mat-icon style="width: auto; color: green;">send</mat-icon>
          </div>
          <div class="icon-inrow" (click)="modal.close()" style="cursor:pointer;">
            <span>ปิด</span>
            <mat-icon style="width: auto; ">arrow_forward_ios</mat-icon>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Body & spinner -->
<div class="position-relative" style="height: 100%; width:100%; overflow: hidden;">
  <!-- spinner -->
  <div class="container-spiner" *ngIf="show.Spinner">
    <div class="row">
      Please Watting...
    </div>
    <mat-spinner></mat-spinner>
  </div>

  <!-- Body -->
  <div style="width:100%; padding: 20px;"  [style.background-color]="onperiod?'#c2fbbe':'#faa6a6'" >
    <div class="icon-inrow" style="padding: 0; margin: 0;">
      <div  *ngIf="!editplan && !routedata" >
        <label for="routeSelect" style="margin-right: 5px;">เส้นทาง : </label>
        <select id="routeSelect" [(ngModel)]="selectrout" style="text-align: right; text-align-last: right; "
          (change)="routechange()">
          <option *ngFor="let item of routelist" [ngValue]="item">
            {{item.routename}}
          </option>
        </select>
      </div>

      <div class="icon-inrow" matTooltip="จำนวนจุดรับ-ส่งพนักงาน" *ngIf="editplan || routedata" >
        <mat-icon>linear_scale</mat-icon>
        <span *ngIf="editplan">{{editplan?editplan.routename:''}}</span> 
        <span *ngIf="routedata&&!editplan">{{routedata?routedata.routename:''}}</span> 
      </div>

      <div class="icon-inrow" matTooltip="จำนวนจุดรับ-ส่งพนักงาน">
        <mat-icon>location_on</mat-icon>
        <span>0 จุด</span>
      </div>

      <div class="icon-inrow" matTooltip="ระยะทาง (กม.)">
        <mat-icon> timeline </mat-icon>
        <span> {{ selectrout.distance | number:'1.2-2' }} กม.</span>
      </div>

      <div class="icon-inrow" matTooltip="ระยะเวลา (นาที)">
        <mat-icon>update</mat-icon>
        <span>{{ selectrout.period | number:'1.0-0'}} นาที</span>
      </div>

    </div>
    <div class="icon-inrow" style="padding: 0; margin: 0;">
      <div class="icon-inrow" matTooltip="เริ่มแจ้งพร้อมเริ่มงาน เวลา hh:mm (นาที)">
        <mat-icon>check_circle</mat-icon>
        <span>{{ selectrout.wakeupwarntime | date:'HH:mm'}}</span>
        <span>({{ selectrout.wakeupwarn }} นาที) </span>
      </div>

      <div class="icon-inrow" matTooltip="เตือนเมื่อไม่แจ้งพร้อมเริ่มงาน เวลา hh:mm (นาที)">
        <mat-icon>cancel</mat-icon>
        <span>{{ selectrout.wakeuptime | date:'HH:mm'}}</span>
        <span>({{ selectrout.wakeup }} นาที)</span>
      </div>

      <div class="icon-inrow" matTooltip="เตือนเมื่อไม่สตาร์ทรถ  เวลา hh:mm (นาที)">
        <mat-icon>power_settings_new</mat-icon>
        <span>{{ selectrout.startwarntime | date:'HH:mm'}}</span>
        <span>({{ selectrout.startwarn }} นาที)</span>
      </div>

      <div class="icon-inrow" matTooltip="เวลาที่ควรถึงจุดแรก  เวลา hh:mm">
        <mat-icon>departure_board</mat-icon>
        <span>{{ selectrout.starttime | date:'HH:mm'}}</span>
      </div>

      <div class="icon-inrow" matTooltip="เวลาที่ควรถึงปลายทาง เวลา hh:mm">
        <mat-icon>flag</mat-icon>
        <span>{{ selectrout.endtime | date:'HH:mm'}}</span>
      </div>

    </div>
  </div>
  <hr style="width:100%; padding: 0; margin: 0;"/>

  <div style="width:100%; padding: 20px; gap:10px;" [style.background-color]="onperiod?'#c2fbbe':'#faa6a6'" >
 
    <div class="row" matTooltip="พนักงานขับรถ">
      <div class="col-3" style="display: flex;  align-items: center; gap: 10px; justify-content: start;">
        <mat-icon>directions_bus</mat-icon>
        <span>{{activeplan.vlicent}}</span>
      </div>
      <div class="col-1" style="display: flex;  align-items: center; gap:8px; justify-content: start;">
        <button mat-raised-button  class="custom-merge-button" *ngIf="planslot.plantype==3 && editplan"
          style="background-color: lightskyblue;color: blue; " (click)="editvehicle(selectvehiclemodal,true)" >
          <mat-icon>edit</mat-icon>
          <mat-icon>directions_bus</mat-icon>
        </button>
      </div>
      <div class="col-4" style=" align-items: center;">
        <mat-icon>airline_seat_recline_normal</mat-icon>
        <span>{{activeplan.drivername}}</span>
      </div>
      <div class="col-2" style="display: flex; align-items: center; gap: 10px; justify-content: start;">
        <span>{{activeplan.driverphone}}</span>
      </div>

      <div class="col-1" style="display: flex;  align-items: center; gap:8px; justify-content: start;">
        <button mat-raised-button  class="custom-merge-button" *ngIf="planslot.plantype==3&&editplan"
          style="background-color: lightskyblue;color: blue; " (click)="editvehicle(selectvehiclemodal,false)">
          <mat-icon>edit</mat-icon>
          <mat-icon>airline_seat_recline_normal</mat-icon>
        </button>
      </div>
    </div>
    <hr />

    <div class="row" matTooltip="รับ-ส่ง | กะงาน | OT">
      <div class="col-1" style="display: flex;  align-items: center; gap: 10px; justify-content: start;">
        <!-- <mat-icon>directions_run</mat-icon> -->
      </div>
      <div class="col-2" style="display: flex;  align-items: center; gap:8px; justify-content: start;">        
      </div>


      <div class="col-3" style="display: flex;  align-items: center; gap: 10px; justify-content: start;">
        <mat-icon>directions_run</mat-icon>
        <span *ngIf="editplan && activeplan.issend==0">ส่งเข้าบริษัท </span>
        <span *ngIf="editplan && activeplan.issend==1">รับกลับบ้าน </span>

        <label for="shiftselect"  *ngIf="!editplan"> รับ-ส่ง </label>
        <select id="shiftselect" [(ngModel)]="activeplan.issend" *ngIf="!editplan" (change)="setoptionchange($event,0)">
          <option [value]="0">ส่งเข้าบริษัท</option>
          <option [value]="1">รับกลับบ้าน</option>
        </select>
      </div>

      <div class="col-3" style="display: flex; align-items: center; gap: 10px; justify-content: start; ">
        <mat-icon>schedule</mat-icon> 
        <span *ngIf="editplan">{{activeplan.shiftname}}</span>
        <label for="routeselect" *ngIf="!editplan"> กะงาน : </label>
        <select id="routeselect" *ngIf="!editplan" [(ngModel)]="selectshift" (change)="setoptionchange($event,1)">
          <option *ngFor="let item of listshift" [ngValue]="item">
            {{item.shift}}
          </option>
        </select>
      </div>

      <div class="col-3"  *ngIf="activeplan.issend==1"
        style="display: flex;  align-items: center; gap: 10px; justify-content: start;">
        <mat-icon>update</mat-icon>
        <span *ngIf="editplan && activeplan.ot==0">ปกติ</span>
        <span *ngIf="editplan && activeplan.ot==1">OT</span>
        <div  *ngIf="!editplan">
          <label for="otselect"> OT </label>
          <select  id="otselect" [(ngModel)]="activeplan.ot" (change)="setoptionchange($event,2)">
            <option [value]="0">ปกติ</option>
            <option [value]="1">OT</option>
          </select>
          </div>
      </div>

      
    </div>
    <hr />

    <div class="row" matTooltip="เวลาที่ควรถึงปลายทาง" *ngIf="activeplan.issend==0">
      <div class="col-1" style=" align-items: center;">
        <mat-icon>flag</mat-icon>
      </div>

      <div class="col-3" style="display: flex;  align-items: center; text-align: right;  text-align-last: right;">
      </div>

      <div class="col-2" style="display: flex; align-items: center; gap: 10px; justify-content: start;">
      </div>

      <div class="col-3" style="display: flex;  align-items: center; justify-content: end;">
        <label for="routeSelect">ถึงปลายทางก่อน</label>
      </div>

      <div class="col-2" style="display: flex;  align-items: center; justify-content: start; gap: 5px ;">
        <input type="time" style="width: 80%;" [(ngModel)]="selecttime.end"
        (ngModelChange)="activeplanchange('end')"/>
      </div>
      
    </div>
    <hr />

    <div class="row" matTooltip="เวลาที่ควรถึงจุดแรก">
      <div class="col-1" style=" align-items: center;">
        <mat-icon>departure_board</mat-icon>
      </div>

      <div class="col-3" style="display: flex;  align-items: center;  justify-content: end;">
        <span> ระยะเวลาเดินทาง</span>
      </div>

      <div class="col-2" style="display: flex; align-items: center; gap: 10px; justify-content: start;">
        <span>{{activeplan.period}} นาที</span> 
      </div>

      <div class="col-3" style="display: flex;  align-items: center; justify-content: end;">
        <span>ถึงจุดแรกก่อน</span>
      </div>
      <div class="col-2" style="display: flex;  align-items: center; justify-content: start; gap: 5px ;">
        <input type="time" style="width: 80%;" [(ngModel)]="selecttime.start"
        (ngModelChange)="activeplanchange('start')"/>
      </div>
    </div>
    <hr />

    <div class="row" matTooltip="เวลาที่ต้องเตือนเมื่อไม่สตาร์ทรถ">
      <div class="col-1" style=" align-items: center;">
        <mat-icon>power_settings_new</mat-icon>
      </div>

      <div class="col-3" style="display: flex;  align-items: center;  justify-content: end;">
        <span> ต้องสตาร์ทรถก่อนเข้าจุดแรก</span>
      </div>

      <div class="col-2" style="display: flex; align-items: center; gap: 10px; justify-content: start;">
        <span>{{activeplan.startwarn}} นาที</span> 
      </div>

      <div class="col-3" style="display: flex;  align-items: center; justify-content: end;">
        <span>สตาร์ทรถก่อน</span>
      </div>
      <div class="col-2" style="display: flex;  align-items: center; justify-content: start; gap: 5px ;">
        <input type="time" style="width: 80%;" [(ngModel)]="selecttime.startwarn"
        (ngModelChange)="activeplanchange('startwarn')"/>
      </div>
    </div>
    <hr />

    <div class="row" matTooltip="เวลาที่ต้องเตือนเมื่อไม่แจ้งพร้อมเริ่มงาน">
      <div class="col-1" style=" align-items: center;">
        <mat-icon>cancel</mat-icon>
      </div>

      <div class="col-3" style="display: flex;  align-items: center;  justify-content: end;">
        <span> แจ้งเริ่มงานก่อนเข้าจุดแรก</span>
      </div>

      <div class="col-2" style="display: flex; align-items: center; gap: 10px; justify-content: start;">
        <span>{{activeplan.wakeup}} นาที</span> 
      </div>

      <div class="col-3" style="display: flex;  align-items: center; justify-content: end;">
        <span>เช็คอินก่อน</span>
      </div>

      <div class="col-2" style="display: flex;  align-items: center; justify-content: start; gap: 5px ;">
        <input type="time" style="width: 80%;" [(ngModel)]="selecttime.wakeup"
        (ngModelChange)="activeplanchange('wakeup')"/>
      </div>
    </div>
    <hr />

    <div class="row" matTooltip="เวลาเริ่มแจ้งพร้อมเริ่มงาน">
      <div class="col-1" style=" align-items: center;">
        <mat-icon>check_circle</mat-icon>
      </div>

      <div class="col-3" style="display: flex;  align-items: center;  justify-content: end;">
        <span> เตือนเริ่มงานก่อนเข้าจุดแรก</span>
      </div>

      <div class="col-2" style="display: flex; align-items: center; gap: 10px; justify-content: start;">
        <span>{{activeplan.wakeupwarn}} นาที</span> 
      </div>

      <div class="col-3" style="display: flex;  align-items: center; justify-content: end;">
        <span>เวลาปลุกพนักงาน</span>
      </div>

      <div class="col-2" style="display: flex;  align-items: center; justify-content: start; gap: 5px ;">
        <input type="time" style="width: 80%;" [(ngModel)]="selecttime.wakeupwarn"
        (ngModelChange)="activeplanchange('wakeupwarn')"/>
      </div>
    </div>
    <hr />
    
    <div class="row" style="display: flex; justify-content: center; text-align: center; height: 100%; width: 100%;">
      <span style="width: 100%; margin: 20px; color: white;" [style.background-color]="onperiod?'#0eab04':'#fc0404'" >
        เวลาที่กำหนด ต้องอยู่ในช่วงเวลาที่ว่าง ({{planslot.starttime}} - {{planslot.endtime}})
      </span>     
    </div>
    <hr />

  </div>

</div>

<ng-template #selectvehiclemodal let-modal style="height: 60vh; overflow: hidden;">
  <div style="display: flex;justify-content: space-between;align-items: center; margin: 10px; padding: 10px;">
    <h3 class="modal-title">เลือกข้อมูล {{show.vehicle?'รถ : ':'พนักงานขับรถ : '}}</h3>
    <div style="display: flex; align-items: center; justify-content: flex-start; height: 100%;">
      <h3>{{show.vehicle?selectvehicle?.vlicent:selectvehicle?.fullname}}</h3>
    </div>
    <button type="button" class="close" (click)="modal.close()">&times;</button>
  </div>

  <div class="modal-body custom-modal-body">
    <div class="input-group" >
      <mat-icon>search</mat-icon>
      <input  type="text" class="form-control" (keyup)="filtervehicle()" [(ngModel)]="show.keyword" 
        placeholder="Search" aria-label="Search" aria-describedby="button-addon">
    </div>
    <hr>
    <div class="table-container">
      <div class="row table-header">
        <div class="col-1">image</div>
        <div class="col-3" *ngIf="show.vehicle">licent</div>
        <div class="col-2">driver</div>
        <div class="col-2">phone</div>
        <div class="col-2" *ngIf="show.vehicle">typename</div>
      </div>
    </div>
    <div class="table-data" style="height: 50vh; "  >
      <div *ngFor="let vehicle of showunplanvehicle"  class="row table-row" 
          [class.selected]="vehicle.vid === selectvehicle?.vid" (click)="selectvehicle = vehicle">
        <div class="col-2">
            <img class="profileimg" [src]="vehicle.driverimage === '' ?va.icon.user:vehicle.driverimage">
        </div>
        <div class="col-3" *ngIf="show.vehicle">{{ vehicle.vlicent }}</div>
        <div class="col-2">{{ vehicle.fullname }}</div>
        <div class="col-2">{{ va.setphoneformat(vehicle.driverphone)}}</div>
        <div class="col-2" *ngIf="show.vehicle">{{ vehicle.typename}}</div>
      </div>
    </div>
  </div>

  <div class="modal-footer" style="display: flex; justify-content: space-between; margin: 20px;">
    <button class="btn btn-secondary" (click)="modal.close()">Close</button>
    <button class="btn btn-primary"(click)="confirmSelection()">Select</button>
  </div>

</ng-template>
