#map-container {
    position: relative;
}
  
.data-box-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;  /* จัดกล่องข้อมูลให้มีระยะห่าง */
    background-color:transparent;
    padding: 10px;
    z-index: 1000;
    overflow-x: auto;
    white-space: nowrap;
}
  
  /* รูปแบบกล่องข้อมูล */
.data-box {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 20hw;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* autocomplete */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
  