<div>
    <!-- =========== company & close button ===========-->
    <div class="container" style="display: flex; justify-content: space-between; align-items: center; 
                width:100%; padding: 20px; margin-bottom: 20px; background-color: lightblue;">
        <div class="col" style="flex: 0 0 auto;">
            <img [src]="activeplan?.complogo==''? va.icon.nologo : activeplan?.complogo" class="companyimg">
        </div>
        <div class="col" style="flex: 0 0 auto; text-align: right;">
            <div class="row">
                <div class="col" style="display: flex; align-items: center;">
                    <mat-icon style="width: auto; color: red;" (click)="modal.close()">cancel</mat-icon>
                </div>
            </div>   
        </div>
    </div>

    <!-- ===========User image ============== -->
    <div class="row" style="display: flex; justify-content: space-between; align-items: center;  margin: 20px; 
                width:100%;" >
        <div class="col" style="flex: 0 0 auto;gap: 5px;" (click)="setcurrentposition()">
            <img [src]="activeplan?.lineimage==''? va.icon.user : activeplan?.lineimage" class="profileimg">
            {{activeplan?.routename}}
        </div>
    </div>

     <!-- ===========Body=========== -->
    <div class="row" style="display: flex; height: 100%; margin: 20px;">
        <div class="col" style="flex: 1; width:100%; height:100%;">
            <div>
                <div class="row px-3">
                    <mat-icon class="me-1 col-auto fs-5" style="width:40px; color:blue">person</mat-icon>
                    <div class="col-auto fw-bold" style="font-size:12px;">{{activeplan?.fullname}}</div>
                </div>

                <div class="row px-3">
                    <mat-icon class="me-1 col-auto fs-5" style="width:40px; color:blue">local_phone</mat-icon>
                    <div class="col-auto" style="font-size:12px;"> {{activeplan?.phone}} </div>
                </div>

                <div class="row px-3">
                    <mat-icon class="me-1 col-auto fs-5" style="width:40px; color:blue">drive_eta</mat-icon>
                    <div class="col-auto" style="font-size:12px;">
                        {{activeplan?.vname}} : {{activeplan?.vlicent}}
                    </div>
                </div>

                <div class="row px-3">
                    <mat-icon class="me-1 col-auto fs-5" style="width:40px; color:blue">home</mat-icon>
                    <div class="col-auto" style="font-size:12px; overflow-y: hidden; ">
                        {{activeplan?.companyname}}
                    </div>
                </div>

                <div class="row px-3">
                    <mat-icon class="me-1 col-auto fs-5" style="width:40px; color:blue">rv_hookup</mat-icon>
                    <div class="col-auto" style="font-size:12px; overflow-y: hidden; ">
                        {{activeplan?.isendname}} &nbsp; {{activeplan?.shift}} &nbsp; {{activeplan?.otname}}
                    </div>
                </div>

                <div class="row px-3">
                    <mat-icon class="me-1 col-auto fs-5" style="width:40px; color:blue">location_on</mat-icon>
                    <div class="col-auto" style="font-size:12px; overflow-y: hidden; ">
                        {{activeplan?.vlocation}}
                    </div>
                </div>

            </div>

            <br><br>
            <div class="row px-3">
                <div class="container" style="display: flex; justify-content: center; align-items: center; 
                width:100%; padding: 10px;background-color: lightblue;">
                 <h4 style="font-weight:bold;"> Activity Log</h4>
                </div>
                
            </div>

            <br>
            <!-- <div *ngFor="let event of activeplan?.listactivity">
                <div class="row px-3"  [style.color]="event.transtatus==0?'#f5071d':'#036d0e'">
                    <mat-icon class="col-auto fs-5" style="width:40px; color:'#07f520';">
                        {{va.getactiveicon(event.statusid)}}
                    </mat-icon>
                    
                    <div class="col-auto fw-bold" style="font-size:small;">
                        {{event.statustaget| date:'HH:mm'}}
                    </div>

                    <div class="col-auto fw-bold" style="font-size:small;">
                        {{event.statusname}} : 
                    </div>

                    <div class="col-auto fw-bold" style="font-size:small;" *ngIf="event.transtatus==1">
                        <span>{{event.statustime | date:'HH:mm'}}</span>
                        <span *ngIf="event.statusid==10">({{event.statuslevel}})</span>
                    </div>

                    <div class="col-auto fw-bold" style="font-size:small;" >
                        <mat-icon style="width: auto; color: red;"> undo </mat-icon>
                        <mat-icon style="width: auto; color: red;"> send </mat-icon>
                    </div>
                </div>
            </div> -->
            <div *ngFor="let event of activeplan?.listactivity">
                <div class="row px-3"  style="font-size:small;" [style.color]="event.transtatus==0?'#f5071d':'#036d0e'">
                    <div class="col-2">
                        <mat-icon  style="width:auto;">
                            {{va.getactiveicon(event.statusid)}}
                        </mat-icon>
                    </div>

                    <div class="col-2">
                        {{event.statustaget| date:'HH:mm'}}
                    </div>
    
                    <div class="col-6" style="display: flex; justify-content: flex-start;">
                        {{event.statusname}} : 
                        <div  *ngIf="event.transtatus!=0">
                            <span>{{event.statustime | date:'HH:mm'}}</span>
                            <span *ngIf="event.statusid==10"> &nbsp; ({{event.statuslevel}} Mg%)</span>    
                        </div>
                    </div>
    
                    <div class="col-2" style="display: flex; justify-content: flex-end;">
                        <mat-icon style="width: auto; color: red;" (click)="changestatus(event,0)" 
                        *ngIf="event.transtatus!=0" > undo </mat-icon>
                    <mat-icon style="width: auto; color: green;" (click)="changestatus(event,1)" 
                        *ngIf="event.transtatus==0"> send </mat-icon>
                    </div>
    

                </div>
            </div>

            <!-- <br><br>
            <div class="container" style="display: flex; justify-content: space-between; align-items: center; 
                        width:100%; margin: 20px;">
                <div class="col" style="flex: 0 0 auto;">
                    <mat-icon style="width: auto; color: red;" *ngIf = "(activeplan?.laststatus!=0)"
                        (click)="changestatus(activeplan?.laststatus,0)">
                        {{va.getactiveicon(activeplan?.laststatus)}}
                    </mat-icon>
                </div>
            </div> -->
        </div>

        <!-- =========== MAP ===========-->
        <div class="col" style="flex: 1; width:100%; height:100%; background-color: antiquewhite;">
            <div style="width:100%; height:100%;">
                <div class="row" style="display: flex; justify-content: space-between; align-items: center; width:100%; margin: 5px;">
                    <div class="col" style="flex: 0 0 auto; text-align: right; vertical-align: top;">
                        <div style="width: 100%; margin:5px ;">{{locationname}}</div>
                    </div>    
                </div>
                <div id="drivermap" style="height: 60vh; width: 100%; margin:5px ;"></div>
                <div class="row" style="display: flex; justify-content: space-between; align-items: center; width:100%; margin: 5px;">
                    <div class="col" style="flex: 0 0 auto; text-align: right; vertical-align: top;">
                        <div style="width: 100%; margin:5px ;">{{activeplan?.vlocation}}</div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>