html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

.mat-drawer-container {
    background-color: transparent;
    overflow: hidden;
}

.mat-drawer-inner-container {
    width: 100%;
    height: 100%;
  
}

/* Apply custom styles to the scrollbar */
.mat-sidenav-container ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.mat-sidenav-container ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.mat-sidenav-container ::-webkit-scrollbar-thumb {
    background: #0957a5;
    border-radius: 10px;
}

.mat-sidenav-container ::-webkit-scrollbar-thumb:hover {
    background: #0957a5;
}


@import "~leaflet/dist/leaflet.css"