.container-spiner {
    position: absolute; 
    top: 0;    
    left: 0; 
    right: 0;
    bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 50%;
    flex-direction: column;
    z-index: 9999;
}
.profileimg {
    border-radius: 50%;
    height: 5vh; 
    width: 5vh; 
}
.icon-inrow {
    display: flex;
    align-items: center; /* Centers the content vertically */
    gap: 10px;
    padding: 10px;
}