<!-- spinner -->
<div class="container-spiner" *ngIf="show.Spinner">
    <div class="row">
      Please Watting...
    </div>
    <mat-spinner></mat-spinner>
  </div>
  <div class="position-relative" style="height: 100%; width:100%; overflow: hidden;">

    <div class="container"
        style="display: flex; justify-content: space-between; align-items: center; width:100hw; margin: 5px;">
        <div class="col" style="flex: 0 0 auto;">

        </div>
        <div class="col" style="flex: 0 0 auto; text-align: right;">
            <div class="row">
                <div class="col" style="display: flex; align-items: center; cursor: pointer;"
                    matTooltip="เพิ่มข้อมูลผู้ดูแล" (click)="addnewuser(addusermodal)" >
                    <mat-icon style="width: 100%; color: blue;">add_box</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="width:100vw;">
        <div class="user-container">
            <mat-card *ngFor="let user of maindata" class="user-card">
              <mat-card-header style="cursor:pointer;" (click)="Showuser(user,userdetailmodal)">
                <div mat-card-avatar style="margin-right: 20px;">
                    <img class="profileimg" [src]="user.userimage===''?va.icon.user:user.userimage"/>
                </div>
                <mat-card-subtitle>{{ user.empname }}</mat-card-subtitle>
                <mat-card-subtitle>{{ user.rolename }} : {{user.phone}} </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="icon-inrow" matTooltip="บริษัทที่สังกัด">
                    <mat-icon> home </mat-icon>
                    <span>{{user.companyname}} </span>
                </div>
                <div class="icon-inrow" matTooltip="ชื่อในไลน์">
                    <mat-icon> account_circle </mat-icon>
                    <span>: {{user.linename}}</span>
                </div>

              </mat-card-content>
            </mat-card>
          </div>


        <!-- <div  style="padding: 10px; box-shadow: none;">
            <div style="width: 100%;">
              <div class="row">
                <mat-card class="col-3" appearance="outlined" *ngFor="let user of maindata;">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <img class="profileimg" [src]="user.userimage==''?va.icon.user:user.userimage"/>
                    </div>
                    <mat-card-subtitle >{{user.empname}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <div class="container"
                    style="display: flex; justify-content: space-between; align-items: start; width:100hw; margin: 5px;">
                    <div class="row" style="flex: 0 0 auto; text-align: start;">
                        {{user.companyname}}
                    </div>
                    <div class="row" style="display:flexbox; text-align: start;">
                        {{user.department}}
                    </div>
                    <div class="row" style="flex: 0 0 auto;">
                        {{user.linename}}
                    </div>
                    <div class="row" style="flex: 0 0 auto;">
                        {{user.phone}}
                    </div>
                    <div class="row" style="flex: 0 0 auto;">
                        {{user.rolename}}
                    </div>

                </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div> -->
    </div>

</div>

<ng-template #addusermodal let-modal>
  <app-addusercomppage [modal]="modal" [activecompany] ="activecompany"  (talk)="refreshuserlist()"></app-addusercomppage>
</ng-template>

<ng-template #userdetailmodal let-modal>
 <app-usercomdatapage  [modal]="modal" [activeuser] ="activeuser" [activecompany] ="activecompany"  (talk)="refreshuserlist()" ></app-usercomdatapage>
  <!-- <app-userdatapage [modal]="modal" [activeuser] ="activeuser" [activecompany] ="activecompany"  (talk)="refreshuserlist()" ></app-userdatapage> -->
</ng-template>