<!-- spinner -->
<div class="container-spiner" >
    <div class="row">
        Please Watting...
    </div>
    <mat-spinner></mat-spinner>
</div>

<div class="position-relative" style="height: 100%; width:100%;">
    <!-- Background -->
    <div class="img-background" style="width: 100%;height: auto;">
        <img src="../../../assets/images/registerlogo.png" class="img-fluid" style="width: 100%;height: auto;">
    </div>
    <!-- <button (click)="sendmqtt()"></button> -->

    <!-- Body -->
    <div style="position: absolute;top: 0;left: 0;z-index: 1;">

       
    </div>

    <!-- driver details -->
    <div class="div-foreground d-flex align-items-center">

    </div>

</div>