.img-background {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.3;
}

.div-foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 1;
  height: 100%;
  width: 100%;
  background-color: white;
}
  
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .profileimg {
    border-radius: 50%;
    height: 10vh; /* กำหนดความสูงของรูปภาพไม่เกิน 10% ของความสูงหน้าจอ */
    width: auto; /* ปรับขนาดความกว้างอัตโนมัติเพื่อรักษาสัดส่วน */
  }
  .companyimg {
    // border-radius: 50%;
    margin: 5px;
    max-width: 5vh; /* กำหนดความสูงของรูปภาพไม่เกิน 10% ของความสูงหน้าจอ */
    max-height: 5vh; /* ปรับขนาดความกว้างอัตโนมัติเพื่อรักษาสัดส่วน */
  }

  .driverimg {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #cee1f0;
  }

  .statuscolor{
    background-color: #c9c9c9;
  }